@font-face {
    font-family: ShobujNolua;
    src: url(../lib/fonts/ShobujNoluaUnicode.ttf);
}
.navbar a{
    font-family: "BalooDa2";
}
.head1 {
    color: #7b2171 !important;
}
.header {
    background-color: #fff;
}

.btn-details {
    background: transparent linear-gradient(111deg, #658B6F 0%, #356C75 100%) 0% 0% no-repeat padding-box !important;
}

    .btn-details:hover {
        background: transparent linear-gradient(249deg, #658B6F 0%, #356C75 100%) 0% 0% no-repeat padding-box !important;
    }

.course-home-section {
    background: #FFFFFF;
}

    .course-home-section .load-more {
        background: #FFFFFF;
        box-shadow: 0px -17px 65px 100px rgb(255 255 255);
    }

    .course-home-section h1 {
        color: #313131;
        border-color: #0f025400;
    }

.course-details {
    background: linear-gradient(to bottom, #468E9A, #356C75);
}

.branch-section {
    background-color: #664faa;
}

.branch-details {
    background: #664faa;
}

.branch-section .card .phoneNo .number::before, .branch-details-view .card .phoneNo .number::before, .branch-details-view .address span::before {
    background-color: #664faa;
}

.branch-section .head1 {
    border-color: #ffffff00;
    color: #fff !important;
}

.success-section {
    background: #bfe4ff;
    position: relative;
    z-index: 1;
}

    .success-section h1 {
        color: #313131;
        border-color: #1e3aab00;
    }

    .success-section::after {
        background-image: url('../img/unmesh/successAfter.png');
        width: 675px;
        height: 380px;
        right: 0;
        top: 0;
    }

.counter-section {
    background: #bfe4ff;
}

    .counter-section::before {
        background-image: url('../img/unmesh/counterBefore.png');
        width: 675px;
        height: 380px;
        left: 0;
        bottom: 0;
        z-index: 0;
    }

.testimonial-section {
    background-color: #fff;
    background-image: none;
}

    .testimonial-section .card .card-body p {
        font-family: ShobujNolua;
        color: #000000;
        font-size: 24px;
        margin-bottom: 0px;
        line-height: 30px;
        position: relative;
    }

    .testimonial-section h1 {
        color: #313131;
        border-color: #36363600;
    }

    .testimonial-section .card hr {
        opacity: 0;
    }

    .testimonial-section .testmonial {
        padding: 0px 12px !important;
    }

        .testimonial-section .testmonial .card {
            box-shadow: none !important;
        }

    .testimonial-section .quote {
        margin-bottom: 35px;
        position: initial !important;
    }

        .testimonial-section .quote span:nth-child(1) {
            position: absolute;
            left: 45px;
            top: 36%;
            transform: rotate(180deg);
        }

        .testimonial-section .quote span:nth-child(2) {
            position: absolute;
            right: 40px;
            bottom: 0;
        }

        .testimonial-section .quote span::after {
            content: '';
            position: absolute;
            background-image: url('../img/uttoron/quote.png');
            left: 0;
            bottom: 0;
            width: 40px;
            height: 30px;
            z-index: 10;
        }

@media (max-width: 991px) {
    .testimonial-section::before {
        z-index: -1;
    }

    .testimonial-section .card .card-body p {
        font-size: 20px !important;
    }
}

.video-section {
    background-image: url('../img/unmesh/videoBackground.png');
}

    .video-section h1 {
        color: #2F575D;
        border-color: #6584e300;
    }

.service-section {
    background-color: #ffffff;
}

    .service-section::before {
        background-image: url('../img/unmesh/serviceBefore.png');
        left: 0;
        bottom: 0;
        width: 390px;
        height: 535px;
    }

    .service-section::after {
        background-image: url('../img/unmesh/serviceAfter.png');
        right: 0;
        top: 0;
        width: 320px;
        height: 640px;
    }

    .service-section h1 {
        color: #313131;
        border-color: #69be4500;
        z-index: 1;
    }

.easy-written-section {
    background-color: #EDF1F4;
    background-image: none;
}

    .easy-written-section::after {
        background-image: url('../img/unmesh/haselFreeAfter.png');
        right: 0;
        top: 0;
        width: 215px;
        height: 255px;
        z-index: 0;
    }

    .easy-written-section::before {
        background-image: url('../img/unmesh/haselFreeBefore.png');
        left: 0;
        bottom: 0;
        width: 390px;
        height: 305px;
        z-index: 0;
    }

    .easy-written-section h2 {
        color: #EA3A3A;
    }

    .easy-written-section h1 {
        color: #2F575D;
    }

.hasel-free-section {
    background-color: #fff;
}

    .hasel-free-section::after {
        background-image: url('../img/unmesh/easyAfter.png');
        right: 0;
        top: 0;
        width: 109px;
        height: 309px;
        z-index: 0;
    }

    .hasel-free-section::before {
        background-image: url('../img/unmesh/easyBefore.png');
        left: 0;
        bottom: 0;
        width: 142px;
        height: 211px;
        z-index: 0;
    }

    .hasel-free-section h1 {
        color: #2F575D;
    }

.footer-section {
    background-color: #4d4d4d;
}

footer {
    background-color: #4d4d4d;
}
